.c-user-list-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
