.c-user-role {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: $radius-sm;

  &--teacher {
    background-color: $color-blue;
  }

  &--student {
    background-color: $color-purple;
  }

  &--other {
    background-color: $color-lightgray;
  }
}
