.c-user-list-filters {
  margin-bottom: 4rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
